* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2d3b;
    font-family: sans-serif;
}

header {
    background-color: rgb(46,58,70);
    height: 70px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header img {
    height: 50px;
    margin: 10px 0;
}

.card-container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.card-album {
    display: flex;
    flex-direction: column;
    background-color: rgb(46,58,70);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    height: 300px;
    color: #808080;
    flex-basis: 200px;
    font-size: 12px;
    margin: 10px;
}

.card-album p {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 20px;
    text-align: center;
}

.card-album img {
    width: 95%;
}
